<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Katalog restoran untuk kamu" />
    <link rel="icon" href="./favicon.png" />

    <link rel="manifest" href="./app.webmanifest" />
    <meta name="theme-color" content="#DB0000" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />

    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Restaurant Apps</title>
  </head>
  <body>
    <a href="#mainContent" class="skip_content">Langsung ke Konten utama</a>
    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <div class="app-bar__brand">
        <h1>RestoApps</h1>
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
          <li><a href="#/home">Home</a></li>
          <li><a href="#/like">Favorite</a></li>
          <li><a href="https://www.instagram.com/nirwan.arr/?next=%2F">About Us</a></li>
        </ul>
      </nav>
    </header>

    <div class="hero">
      <div class="hero-inner">
        <h1 class="hero_title">Restaurant Apps</h1>
        <p class="hero_description">
          Ini adalah aplikasi untuk melihat restoran favorit anda !
        </p>
      </div>
    </div>

    <main id="mainContent"></main>

    <footer>
      <p>Copyright © 2023 - Restaurant Apps</p>
    </footer>
  </body>
</html>
